*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{scroll-behavior: smooth;}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column{
    flex-direction: column;
}

nav{
    width: 100vw;
    height:10vh;
    background-color:#505050;
    color:#fff;
    font:15px "raleway";
}
nav>a{
    display: flex;
    align-items: center;
}
nav>a>img{
    width: 45px;
}
.logo{
    color:#fff;
}
.contactar{
    padding:10px 15px;
    color:#505050;
    background-color: #01ffc7;
    cursor: pointer;
    border-radius:8px;
    font-size: 17px;
    font-weight:700;
}
.contactar:active{
    background-color: #ff0139;
}


/* section de tarjetas */
.targets{
    background-color: #505050;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.target{
    width: 40vw;
    height: 40vw;
    background-color: #ff0139;
    margin:5vw;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.target-title{
    color:#fff;
    font:30px 'raleway';
}
@media screen and (min-width: 1200px) {
    .targets{
        height: 90vh;
    }
    .target{
        width: 18vw;
        height: 18vw;
        margin:20px;
    }
    .target-title{
        font-size:55px;
    }
}