*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.flex, .links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column{
    flex-direction: column;
}

nav{
    width: 100vw;
    height:10vh;
    background-color:#505050;
    color:#fff;
    font:15px "raleway";
}
.links-container{
    position: absolute;
    top:10vh;
    left:0;
    width: 100vw;
    height: 50vh;
    background-color: #505050;
    flex-direction: column;
}
.links-none{
    display: none;
}
.links{
    color: #fff;
    flex:1;
    width: 100%;
}
.links:active{
    color: #ff0139;
    background-color: #fff;
}
.menu{
    cursor: pointer;
    text-decoration: underline;
}
.menu:active{
    color: #ff0139;
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
#section1-div2,.section1-div2-div1,
.link-github{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.section1-div2{
    background-color: #ff0139;
    margin: 32px ;
    max-width: 350px;
    height: 430px;
    width: 91.28vw;
    flex-direction: column;
    border-radius: 20px;
}
/* CARD LINK */
.section1-link{
    flex:7;
    flex-direction: column;
    display:flex;
    align-items: center;
    max-width: 350px;
    max-height: 400px;
    width: 91.28vw;
    height: 100vw;
}
/* CARD IMG */
.section1-img{
    width: inherit;
    max-width: inherit;
    border-radius:19px 19px 0 0 ;
}
/* CARD */
.section1-div2-div1{
    padding: 16px;
    flex-direction: column;
    cursor: pointer;
    color:#fff;
    height: 35%;
}
/* CARD TITLE */
.section1-h3{
    font:20px "raleway";
    font-weight: bold;
}
/* CARD SUBTITLE */
.section1-h5{
    font:14px "lato";
    line-height: 22px;
    text-align: center;
}
/* ENLACE A GITHUB */
.link-github{
    flex:1;
    width: 40vw;
    flex:2;
    width: 40vw;
    max-width: 150px;
}
.text-link{
    font:16px "raleway";
    color:#fff;
    text-decoration: underline;
}
/* LOGOTIPO */
.logogithub{
    width: 7vw;
    min-width: 20px;
    max-width: 35px;
}
@media screen and (min-width: 1090px) {
    .section1-div2{
        background-color: #505050;
        }
        .section1-div2:hover{
            background-color: #ff0139;
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .section1-link{
            flex:11;
        }
    .links-none{
        display: flex;
    }
    .links{
        padding:12px 24px;
    }
    .menu{
        display: none;
    }
}