*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{scroll-behavior: smooth;}
a{
    text-decoration: none;
}
.flex, .links-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column{
    flex-direction: column;
}

nav{
    width: 100vw;
    height:10vh;
    background-color:#505050;
    color:#fff;
    font:15px "raleway";
}
nav>a{
    display: flex;
    align-items: center;
}
nav>a>img{
    width: 45px;
}
.logo{
    color:#fff;
}
.contactar{
    padding:10px 15px;
    color:#505050;
    background-color: #01ffc7;
    cursor: pointer;
    border-radius:8px;
    font-size: 17px;
    font-weight:700;
}
.contactar:active{
    background-color: #ff0139;
}
.header{
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #505050;
}
.header-title{
    color:#fff;
    text-align: center;
    font: 50px 'montserrat';
}
.header-button{
    background-color: rgb(255, 255, 0);
    border-radius: 16px;
    padding:20px 64px;
    font:25px 'manrope';
    color:#000;
}
#footer{
    height: 70vh;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contactar-title{
    font:4em 'montserrat';
    color:white;
    font-weight: bold;
}
.mapAndSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.mapa{
    height: 40vh;
    width: 100vw;
}
.link{
    font:1.3em 'lato';
    color:#fff;
}
.link>a{
    color:#01ffc7;
    text-decoration: underline;
}
@media screen and (min-width: 1090px) {
    .header-title{
        font-size:100px;
    }
    #footer{
        flex-direction: row;
    }
    .mapa{
        width: 40vw;
        height: 25vw
    }
}