*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column{
    flex-direction: column;
}

nav{
    width: 100vw;
    height:10vh;
    background-color:#505050;
    color:#fff;
    font:15px "raleway";
}
nav>div{
    display: flex;
    align-items: center;
}
nav>div>img{
    width: 45px;
}
.contactar{
    padding:10px 15px;
    color:#505050;
    background-color: #01ffc7;
    cursor: pointer;
    border-radius:8px;
    font-size: 17px;
    font-weight:700;
}
.contactar:active{
    background-color: #ff0139;
}

header{
    height: 90vh;
    background-color: #505050;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.header-title{
    font:5em 'montserrat';
    color:#fff;
}
.flecha{
    width: 4em;
}
/* section-a */
.section-a{
    background-color: blue;
    height: auto;
    display:grid;
    grid-template-areas: 
    'div-b'
    'div-a';
}
.div-a,.div-b{
    width: 100vw;
    height: 90vh;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.div-a{
    background-color: #060038;
    grid-area: div-a;
}
.div-b{
    background-color: #505050;
    grid-area: div-b;
}
.section-a-title{
    font:2em 'montserrat';
    padding:16px 0 0 0;
}
.section-a-title-b{
    font:3em 'montserrat';
}
.see-code{
    font:1.3em 'raleway';
    font-weight: 700;
    padding: 12px 16px;
    background-color: #01ffc7;
    color: #505050;
    border-radius: 8px;
}
.see-code:hover{
    background-color: #ff0139;
    color: #01ffc7;
}
@media screen and (min-width:1090px){
    .section-a{
        height:90vh;
        grid-template-areas: 
        'div-a div-b';
    }
    .div-a,.div-b{
        width: 50vw;
    }
}
