*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column{
    flex-direction: column;
}

nav{
    width: 100vw;
    height:10vh;
    background-color:#505050;
    color:#fff;
    font:15px "raleway";
}
nav>div{
    display: flex;
    align-items: center;
}
nav>div>img{
    width: 45px;
}
.contactar{
    padding:10px 15px;
    color:#505050;
    background-color: #01ffc7;
    cursor: pointer;
    border-radius:8px;
    font-size: 17px;
    font-weight:700;
}
.contactar:active{
    background-color: #ff0139;
}